<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
 <p>
    Splurty was built by <a target="_blank" href="http://github.com/Jimmyjuiceboxx">Jimmy Gregerson</a>. A future web developer who is on a mission to create things that will change the lives of many.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
   <br />
    <br />
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'https://avatars2.githubusercontent.com/u/15316039?v=3&s=460', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jimmy Gregerson</h2>
    <br />
    <p>
      Jimmy Gregerson is an aspiring developer who has spent the last 10 years of his life as a touring musician, playing in several countries around the world and for thousands of people. Now he is making a career change and is currently enrolled in <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose . </a>     </p>
  </div>
  <br class="clear" />

  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />