@font-face {
    font-family: 'sansationregular';
    src: url('/assets/Sansation-Regular-webfont.eot');
    src: url('/assets/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Sansation-Regular-webfont.woff') format('woff'),
         url('/assets/Sansation-Regular-webfont.ttf') format('truetype'),
         url('/assets/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationitalic';
    src: url('/assets/Sansation-Italic-webfont.eot');
    src: url('/assets/Sansation-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Sansation-Italic-webfont.woff') format('woff'),
         url('/assets/Sansation-Italic-webfont.ttf') format('truetype'),
         url('/assets/Sansation-Italic-webfont.svg#sansationitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

